@charset "utf-8";

* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

@mixin kk($top: 0,$left: 0,$bottom: 0,$right: 0,$color: orange) {
    .kk {
        font-size: 2.6rem;
        margin: 0 20%;
        padding: 60px 0 30px 0;
        }
        .kk::before,.kk::after {
            position: absolute;
            content: "";
            display: block;
            width: 40px;
            height: 40px;
        }
        .kk::before {
            border-left: solid 4px $color;
            border-top: solid 4px $color;
            top: $top;
            left: $left;
        }
        .kk::after {
            border-right: solid 4px $color;
            border-bottom: solid 4px $color;
            right: $right;
            bottom: $bottom;
        }
}

@mixin kk_s($color: orange) {
            .kk_s {
                font-size: 1.4rem;
                font-weight: bold;
                position: relative;
                padding: 10px;
                margin-left: 2%;
                margin-right: 2%;
                span {
                    display: block;
                }
            }
            .kk_s::before,h3::after {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
            }
            .kk_s::before {
                border-left: solid 3px $color;
                border-top: solid 3px $color;
                top: 0;
                left: 0;
            }
            .kk_s::after {
                border-right: solid 3px $color;
                border-bottom: solid 3px $color;
                right: 0;
                bottom: 0;
            }
}

@mixin a_hover($color: blue) {
    a:hover {
        background-color: darken($color, 30%);
    }
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
    z-index: 20;
    .header_in {
        display: flex;
        justify-content: space-between;
        .header_logo {
            padding: 5px 5px 0px 5px;
            width: 70%;
            h6 {
                margin: 0;
                letter-spacing: 2px;
            }
            img {
                width: 50%;
            }
        }
        @media(min-width: 550px) {
            .header_logo {
                width: 500px;
                padding-left: 5%;
                padding-top: 10px;
                display: flex;
                flex-direction: row-reverse;
                img {
                    width: 30%;
                }
                h6 {
                    font-size: 1.5rem;
                    padding-top: 30px;
                }
            }
        }
        .header_navi {
            width: 50px;
            .sp_navi {
                background-color: tomato;
                text-align: center;
                height: 100%;
                a {
                    display: block;
                    padding-top: 10px;
                }
                p {
                    color: white;
                    margin: 0;
                }
            }
            @media(max-width: 549px) {
                .pc_navi {
                    display: none;
                }
            }
            @media(min-width: 550px) {
                .sp_navi {
                    display: none;
                }
                .pc_navi {
                    position: relative;
                    a {
                        background-color: tomato;
                        position: absolute;
                        top: 20px;
                        left: 10px;
                        font-size: 1.4rem;
                        border-radius: 20px;
                        padding: 10px 20px;
                        text-decoration: none;
                        color: white;
                    }
                    @include a_hover($color: tomato);
                }
            }
        }
        @media(min-width: 550px) {
            .header_navi {
                width: 400px;
            }
        }
    }
    @media(min-width: 550px) {
        padding-bottom: 20px;
    }
}

.pagetop {
  cursor:pointer;
  position:fixed;
  bottom: 20px;
  right: 0px;
  background-color:#ececec;
  padding: 10px;
  opacity:0.7;
  transition:all 1s;
  @media(min-width: 550px) {
      padding: 20px;
  }
}

.pagetop:hover {
  opacity:1;
}

.fa-chevron-up {
  font-size: 20px;
  @media(min-width: 550px) {
      font-size: 40px;
  }
}

.main {
    margin-top: 69px;
    .chach {
        background-image: url("../images/cover.jpg");
        background-size: cover;
        text-align: center;
        color: white;
        h4 {
            font-size: 1.4rem;
            padding-top: 20px;
            margin-bottom: 0;
            margin-top: 0;
        }
        img {
            width: 85%;
        }
        p {
            margin: 0;
            padding-bottom: 20px;
            font-size: 1.3rem;
            line-height: 1.4rem;
            text-shadow: 1px 2px 3px black;
            font-weight: bold;
        }
    }
    @media(min-width: 550px) {
        .chach {
            margin-top: 20px;
            padding-top: 70px;
            height: 500px;
            vertical-align: middle;
            h4 {
                padding-top: 40px;
                font-weight: bold;
                font-size: 2.4rem;
                line-height: 4.8rem;
            }
            img {
                width: 30%;
            }
            p {
                padding-top: 30px;
                font-size: 2.0rem;
                line-height: 2.0rem;
            }
        }
    }
    
    .contact {
        padding: 5px;
        margin: 0;
        text-align: center;
        background-color: orange;
        color: white;
        font-weight: bold;
        h4 {
            padding-top: 10px;
            margin-top: 0;
            font-size: 1.4rem;
        }
        .alarm {
            color: tomato;
            font-size: 1.4rem;
            font-weight: bold;
            span {
                background-color: white;
                letter-spacing: 2px;
            }
        }
        .contact_btn {
            display: block;
            margin-top: 10px;
            width: 80%;
            margin: 0 auto;
            background-color: rgba(tomato,0.7);
            border-radius: 20px;
            font-size: 1.8rem;
            color: white;
            text-decoration: none;
            padding: 10px 20px;
        }
        .contact_btn:hover {
            background-color: rgba(tomato,1.0);
        }
        .span {
            font-size: 1.4rem;
            span {
                display: block;
            }
        }
        .sns {
            padding: 10px 0 5px 28%;
            li {
                list-style: none;
                float: left;
                margin-right: 4px;
                a {
                    text-decoration: none;
                    color: white;
                    padding: 2px 5px;
                    border-radius: 5px;
                }
                .twitter {
                    background-color: #1DA1F2;
                }
                .twitter:hover {
                    background-color: darken(#1da1f2,30%);
                }
                .fb,.fb2 {
                    background-color: #415E9B;
                }
                .fb:hover {
                    background-color: darken(#415e9b,30%);
                }
                .fb2:hover {
                    background-color: darken(#415e9b,30%);
                }
            }
        }
        .clearfix::after {
            clear: both;
            content: "";
            display: block;
        }
    }
    @media(min-width: 550px) {
        .contact {
            h4,.alarm,.span {
                font-size: 2.0rem;
            }
            .contact_btn {
                width: 60%;
                font-size: 2.6rem;
                padding: 20px 40px;
                border-radius: 50px;
            }
            .span {
                span {
                    display: inline-block!important;
                }
            }
            .sns {
                padding-left: 45%;
                padding-bottom: 20px;
            }
        }
    }
    
    .introduction {
        text-align: center;
        .intro1 {
            position: relative;
            @include kk_s();
            p {
                padding: 0 10px;
                font-size: 1.2rem;
                strong {
                    background: linear-gradient(transparent 40%,orange);
                }
            }
            .mountain {
                height: 50px;
                background-image: url("../images/mou.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                
            }
            .about {
                color: white;
                background-color: orange;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                position: absolute;
                top: 90%;
                right: 0;
                left: 0;
                margin: auto;
                p {
                    padding: 5px 0 0 0;
                }
            }
        }
        .intro2 {
            background-color: #FEF5E0;
            padding-top: 20px;
            padding-bottom: 40px;
            @include kk_s();
            h3 {
                margin: 0 ;
            }
            p {
                padding: 10px 3% 0 3%;
                font-size: 1.3rem;
                font-weight: bold;
                span {
                    display: block;
                }
            }
            .skills {
                background-color: white;
                border: solid 2px orange;
                margin: 0 4%;
                h6 {
                    padding-top: 0;
                    font-size: 1.3rem;
                    margin-top: 10px;
                    span {
                        display: block;
                    }
                }
                .skill_box {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .skill {
                        width: 35%;
                        p {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        @media(min-width: 550px) {
            .intro1 {
                .kk_s {
                    span {
                        display: inline-block;
                    }
                }
                    padding: 30px 0 0 0;
                    @include kk(20px);
                p {
                    font-size: 2.2rem;
                    margin: 0 20%;
                    padding: 40px 0 10px 0;
                    strong {
                        background: linear-gradient(transparent 70%,orange);
                    }
                }
                .mountain {
                    height: 100px;
                }
                .about {
                    width: 100px;
                    height: 100px;
                    top: 90%;
                    p {
                        padding-top: 35%;
                    }
                }
            }
            .intro2 {
                padding-bottom: 80px;
                @include kk(20px);
                p {
                    font-size: 2.2rem;
                    span {
                        display: inline-block;
                    }
                }
                .skills {
                    margin: 0 6%;
                    h6 {
                        font-size: 2.2rem;
                        padding-top: 10px;
                        span {
                            display: inline-block;
                        }
                    }
                    .skill_box {
                        margin-bottom: 20px;
                        .skill {
                            width: 10%;
                            p {
                                font-size: 1.2rem;
                                font-weight: normal;
                                margin: 0 5% 20px 0;
                            }
                        }
                    }
                }
            }
        }
        }
        
    .about2 {
            background-image: url("../images/about.jpg");
            background-size: cover;
            text-align: center;
            h3 {
                margin-top: 0;
                padding-top: 20px;
                font-size: 1.8rem;
                color: white;
                span {
                    display: block;
                    @media(min-width: 550px) {
                        display: inline-block;
                    }
                }
            }
            .base {
                color: white;
                font-size: 1.3rem;
                span {
                    color: orange;
                    font-weight: bold;
                }
            }
            .steps {
                .step_box {
                    padding-bottom: 40px;
                    .step {
                        padding-top: 10px;
                        background-color: white;
                        margin: 0 3%;
                        border-radius: 5px;
                        h4 {
                            background-color: orange;
                            margin: 0 10%;
                            border-radius: 5px;
                            color: white;
                            font-size: 1.3rem;
                        }
                        .ban {
                            padding-bottom: 10px;
                            font-size: 1.3rem;
                            span {
                                display: block;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    @media(min-width: 550px) {
            h3 {
                font-size: 2.6rem!important;
            }
            .base {
                font-size: 2.2rem!important;
            }
            .steps {
                .step_box {
                    display: flex;
                    justify-content: center;
                    .step {
                        padding-top: 30px!important;
                        width: 28%;
                        margin: 0 0.5%!important;
                        h4 {
                            font-size: 1.6rem!important;
                        }
                        .ban {
                            padding-top: 20px;
                            font-size: 1.6rem!important;
                            line-height: 3.6rem;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        
    .skillup {
            background-color: #016EA9;
            text-align: center;
            h4 {
                font-size: 1.3rem;
                padding: 20px 0;
                margin: 0;
                color: white;
                .pg1 {
                    display: block;
                }
                .pg2 {
                    color: orange;
                }
            }
            @media(min-width: 550px) {
                h4 {
                    font-size: 2.2rem;
                    padding: 40px 0;
                    .pg1 {
                        display: inline-block;
                    }
                    .pg3 {
                        display: block;
                    }
                }
            }
        }
        
    .learn {
            text-align: center;
            h3 {
                font-size: 1.6rem;
                padding: 20px 0;
            }
            .learn1 {
                font-size: 1.4rem;
                span {
                    display: block;
                }
            }
            .learn_box {
                display: flex;
                justify-content: center;
                .learn_part {
                    width: 15%;
                    margin: 0 2%;
                    img {
                        width: 100%;
                    }
                }
            }
            .learn2 {
                font-size: 1.3rem;
                font-weight: bold;
            }
            @media(min-width: 550px) {
                h3 {
                    font-size: 2.6rem;
                }
                .learn1 {
                    font-size: 2.2rem;
                    span {
                        display: inline-block;
                    }
                }
                .learn2 {
                    font-size: 1.6rem;
                    padding: 20px 0;
                }
            }
        }
        
    .merit {
            padding: 10px 0 20px 0;
            background-color: #FEF5E0;
            text-align: center;
            @include kk_s();
            .merit_box {
                .merit_part {
                    margin: 20px 2% 0 2%;
                    img {
                        width: 100%;
                        height: 239px;
                    }
                    h4 {
                        font-size: 1.4rem;
                        margin: 0;
                        color: orange;
                    }
                    p {
                        text-align: left;
                        font-size: 1.2rem;
                        margin: 0 4%;
                    }
                }
            }
            .merit_more {
                background-color: white;
                margin: 20px 4%;
                padding: 10px;
                border: solid 2px orange;
                border-radius: 5px;
                h3 {
                    color: orange;
                    font-size: 1.5rem;
                }
                h4 {
                    font-size: 1.3rem;
                    text-align: left;
                    margin: 0 2%;
                }
                p {
                    text-align: left;
                }
            }
            .alarm2 {
                margin: 0 2%;
            }
            @media(min-width: 550px) {
                @include kk(20px);
                .merit2 {
                    display: block!important;
                    font-size: 2.6rem!important;
                }
                .merit_box {
                    display: flex;
                    justify-content: center;
                    .merit_part {
                        width: 25%;
                        margin: 20px 1% 0 1%!important;
                        h4 {
                            text-align: left;
                            font-size: 2.0rem;
                        }
                        p {
                            margin: 0!important;
                            font-size: 1.6rem;
                        }
                    }
                }
                .merit_more {
                    h3 {
                        padding: 0!important;
                        letter-spacing: 2px;
                    }
                    h4,p {
                       text-align: center; 
                    }
                    h4 {
                        font-size: 2.2rem;
                    }
                    p {
                        padding: 20px 0 45px 0!important;
                        font-size: 1.6rem;
                        font-weight: bold;
                        margin: 0 4%;
                        .merit4 {
                            display: block;
                        }
                    }
                }
                .alarm2 {
                    font-size: 1.4rem;
                    margin: 0 10%;
                    padding-top: 10px;
                }
            }
        }
        
    .members {
            background-image: url("../images/thai.jpg");
            background-size: cover;
            padding-bottom: 20px;
            text-align: center;
            color: white;
            h3 {
                margin: 0;
                padding-top: 20px;
                font-size: 1.6rem;
                i {
                    margin-right: 5px;
                }
            }
            .member1 {
                font-size: 1.2rem;
                span {
                    display: block;
                }
            }
            .member_box {
                display: flex;
                flex-direction: column;
                .member {
                    border: solid 3px white;
                    margin: 120px 2% 0 2%;
                    padding: 20px 0;
                    height: 16.5%;
                    position: relative;
                    background-color: rgba(black,0.5);
                    img {
                        border-radius: 50%;
                        width: 123px;
                        position: absolute;
                        right: 0;
                        left: 0;
                        margin: auto;
                        top: -50%;
                    }
                    h4 {
                        font-size: 1.4rem;
                    }
                    p {
                        margin: 0 2%;
                        text-align: left;
                    }
                }
            }
            @media(min-width: 550px) {
                .member1 {
                    font-size: 1.6rem;
                    font-weight: bold;
                    span {
                        display: inline-block;
                    }
                }
                .member_box{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    .member {
                        width: 30%;
                        height: 260px;
                        margin-bottom: 20px;
                        img {
                            width: 150px;
                            top: -50%;
                        }
                        p {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        
    .question {
            text-align: center;
            padding-bottom: 20px;
            .question_box {
                background-color: orange;
                padding: 20px 0;
                position: relative;
                @include kk_s($color: white);
                p {
                    width: 50px;
                    height: 50px;
                    background-color: white;
                    margin: 0 auto;
                    padding-top: 17px;
                    border-radius: 50%;
                    color: orange;
                }
                .kk,.kk_s {
                    color: white;
                }
                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    border-right: solid 15px transparent;
                    border-left: solid 15px transparent;
                    border-top: solid 15px orange;
                    bottom: -15px;
                    right: 0;
                    left: 0;
                    margin: auto;
                    width: 0;
                    height: 0;
                    @media(min-width: 550px) {
                        border-right: solid 30px transparent;
                        border-left: solid 30px transparent;
                        border-top: solid 30px orange;
                        bottom: -30px;
                    }
                }
            }
            .can {
                padding-top: 10px;
                font-size: 1.6rem;
                span {
                    padding-top: 10px;
                    display: block;
                    font-size: 1.2rem;
                    @media(min-width: 550px) {
                        font-size: 1.6rem;
                    }
                }
                @media(min-width: 550px) {
                    padding-top: 20px;
                }
            }
            p {
                margin: 0 2%;
                font-size: 1.2rem;
                span {
                    display: block;
                    @media(min-width: 550px) {
                        display: inline-block;
                        font-size: 1.4rem;
                    }
                }
            }
            .answers {
                .answer_box{
                    margin: 0 2%;
                    .answer {
                        padding-top: 20px;
                        display: flex;
                        img {
                            width: 85px;
                            height: 85px;
                            border: solid 3px orange;
                        }
                        p {
                            text-align: left;
                            font-size: 1.3rem;
                        }
                    }
                    @media(min-width: 550px) {
                        margin: 0 20%;
                        .answer {
                            padding-top: 40px;
                            img {
                                width: 245px;
                                height: 245px;
                            }
                            p {
                                font-size: 2.0rem;
                                padding: 10px;
                            }
                        }
                    }
                }
            }
            @media(min-width: 550px) {
                .question_box {
                    p {
                        font-size: 2.0rem;
                        width: 80px;
                        height: 80px;
                        padding-top: 25px;
                    }
                    @include kk($color: white,$top: 20px);
                    .can {
                        .can2::after {
                            content: "\A";
                            white-space: pre;
                        }
                    }
                }
            }
        }
        
    .learn_content {
            background-image: url("../images/learn_content.jpg");
            background-size: cover;
            text-align: center;
            color: white;
            padding-bottom: 20px;
            h3,p {
                text-shadow: 2px 2px 3px black;
            }
            h3 {
                font-size: 1.6rem;
                padding-top: 20px;
                @media(min-width: 550px) {
                    padding-top: 40px;
                }
            }
            p {
                font-size: 1.3rem;
                font-weight: bold;
                @media(min-width: 550px) {
                    font-size: 2.0rem;
                }
            }
            .learn_box {
                .learn_list {
                    margin: 10px 2%;
                    border: solid 3px #016EA9;
                    border-radius: 5px;
                    h4 {
                        background-color: #016EA9;
                        margin: 0;
                        font-size: 1.5rem;
                        padding: 10px 0;
                    }
                    .learn_list1 {
                        margin: 0;
                        padding: 0;
                        li {
                            margin: 0;
                            background-color: white;
                            list-style: none;
                            padding: 10px 0;
                            border-bottom: solid 2px whitesmoke;
                            h5 {
                                color: black;
                                margin:0;
                                font-size: 1.2rem;
                                letter-spacing: 2px;
                            }
                        }
                    }
                }
                @media(min-width: 550px) {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    margin-bottom: 40px;
                    .learn_list {
                        width: 30%;
                        h4 {
                            font-size: 2.2rem;
                        }
                        .learn_list1 {
                            li {
                                h5 {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    .merit_more2 {
            background-color: #016EA9;
            h4 {
                margin: 0 2%;
                color: white;
                text-align: center;
                padding: 20px 0;
                font-size: 1.5rem;
                @media(min-width: 550px) {
                    font-size: 2.2rem;
                }
            }
        }
        
    .flow {
            .title {
                text-align: center;
                font-size: 1.8rem;
                margin: 0;
                padding: 30px 0 15px 0;
                i {
                    margin-right: 5px;
                }
                @media(min-width: 550px) {
                    padding: 50px 0;
                    font-size: 2.6rem;
                }
            }
            .sp_flow {
                .flow_btn {
                    display: flex;
                    justify-content: space-between;
                    background-color: #fef5e0;
                    margin: 5px 2% 0 2%;
                    border-radius: 3px;
                    img {
                        margin: 6% 2%;
                        width: 10px;
                        height: 10px;
                    }
                    .dropdown_toggle {
                       -webkit-transform: rotate(90deg);
                       transform: rotate(90deg);
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                h4 {
                    text-align: left;
                    padding-left: 40px;
                    font-size: 1.5rem;
                }
                .icon1,.icon2,.icon3,.icon4,.icon5 {
                    background-repeat: no-repeat;
                    background-size: 25px;
                    background-position: 4% center;
                }
                .icon1 {
                    background-image: url("../images/skypeconsulting (1).png");
                }
                .icon2 {
                    background-image: url("../images/preworks (1).png");
                }
                .icon3 {
                    background-image: url("../images/flight (1).png");
                }
                .icon4 {
                    background-image: url("../images/personwithlight (1).png");
                }
                .icon5 {
                    background-image: url("../images/jobsupport (1).png");
                }
                ul {
                    padding: 0;
                    margin-top: 0;
                    li {
                        background-color: #fef5e0;
                        list-style: none;
                        padding: 0 2%;
                        margin: 0 2%;
                        border-radius: 3px;
                        p {
                            margin: 0;
                        }
                        .content1 {
                            font-weight: bold;
                            padding-bottom: 5px;
                        }
                        .content2 {
                            padding-bottom: 15px;
                        }
                    }
                }
                @media(min-width: 550px) {
                    display: none;
                }
            }
            .pc_flow {
                text-align: center;
                padding-bottom: 30px;
                @media(max-width: 549px) {
                    display: none;
                    justify-content: center;
                }
                .flow_line,.flow_line2 {
                    width: 70%;
                }
                .flow_all {
                    margin-bottom: 40px;
                    img {
                        width: 70%;
                    }
                }
                .flow_box {
                    display: flex;
                    background-color: #fef5e0;
                    margin: 0 8%;
                    .flow_left {
                        width: 25%;
                        img {
                            padding: 30px 0 20px 0;
                        }
                        p {
                            font-weight: bold;
                            padding-bottom: 20px;
                            font-size: 1.6rem;
                            margin: 0;
                        }
                    }
                    .flow_right {
                        width: 65%;
                        .content1,.content2 {
                            text-align: left;
                            font-weight: bold;
                        }
                        .content1 {
                            font-size: 1.6rem;
                            padding-top: 20px;
                        }
                        .content2 {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            
        }
        
    .why {
            margin-top: 40px;
            text-align: center;
            background-image: url("../images/bankoku.jpg");
            background-size: cover;
            color: white;
            .opa {
                background-color: rgba(black,0.5);
            }
            p,li,h4 {
                text-align: left;
            }
            h3 {
                margin: 0;
                font-size: 2.2rem;
                padding: 30px 0 30px 0;
                letter-spacing: 5px;
                @media(min-width: 550px) {
                    text-align: left;
                    margin-left: 100px;
                }
            }
            p {
                font-size: 1.2rem;
                margin: 0 6%;
                @media(min-width: 550px) {
                    margin-left: 100px;
                    font-size: 1.5rem;
                }
            }
            ul {
                li {
                    font-weight: bold;
                    margin: 0 2%;
                    font-size: 1.4rem;
                }
                @media(min-width: 550px) {
                    margin-left: 100px;
                    padding-left: 0;
                    li {
                        padding: 5px 0;
                    }
                }
            }
            h4 {
                font-size: 1.6rem;
                margin: 0 6%;
                padding: 20px 0 40px 0;
                @media(min-width: 550px) {
                    margin-left: 100px;
                    font-size: 2.2rem;
                    padding-bottom: 60px;
                }
            }
        }
        
    .point_area {
            background-color: orange;
            padding-bottom: 20px;
            position: relative;
            .block {
                display: block;
                @media(min-width: 550px) {
                    display: inline-block;
                }
            }
            h3,p {
                text-align: center;
            }
            h3 {
                margin: 0;
                padding: 20px 0 0 0;
                font-size: 1.8rem;
                i {
                    margin-right: 5px;
                }
                @media(min-width: 550px) {
                    padding: 40px 0;
                }
            }
            p {
                color: white;
                font-size: 1.4rem;
                font-weight: bold;
                .black {
                    color: black;
                }
                @media(min-width: 550px) {
                    margin: 0;
                    font-size: 1.6rem;
                }
            }
            .absolute {
                position: absolute;
                right: 0;
                left: 0;
                margin: auto;
                top: 21%;
                z-index: 10;
                @media(min-width: 550px) {
                    top: 28%;
                }
            }
            .point_box {
                border: solid 2px white;
                margin: 40px 2% 0 2%;
                padding: 10px 4%;
                position: relative;
                .point {
                    display: flex;
                    justify-content: center;
                    h4 {
                        background-color: white;
                        color: orange;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        text-align: center;
                        vertical-align: middle;
                        line-height: 80px;
                        font-size: 1.4rem;
                    }
                    p {
                        width: 60%;
                        text-align: left;
                        margin:  20px 0 0 10px;
                    }
                    @media(max-width: 549px) {
                        .point_pc {
                            display: none;
                        }
                    }
                    @media(min-width: 550px) {
                        .point_sp {
                            display: none;
                        }
                        .point_pc {
                            font-size: 1.4rem;
                            text-align: center;
                        }
                    }
                }
                &::before {
                display: block;
                content: "";
                position: absolute;
                border: solid 4px orange;
                top: -3px;
                width: 65%;
                right: 0;
                left: 0;
                margin: auto;
               }
               @media(min-width: 550px) {
                   margin: 100px 8% 40px 8%;
                   display: flex;
                   justify-content: space-between;
                   padding: 40px 7%;
                   .point {
                       background-color: white;
                       display: block;
                       width: 240px;
                       height: 240px;
                       border-radius: 50%;
                       margin-top: 20px;
                       h4,p {
                           margin: 0 auto;
                       }
                       h4 {
                           background-color: rgba(white,0);
                           border-radius: 0;
                           font-size: 2.2rem;
                           padding-top: 20px;
                       }
                       p {
                           color: black;
                       }
                   }
               }
            }
        }
        
    .not_volunteer {
            background-image: url("../images/not_volunteer.jpg");
            background-size: cover;
            text-align: center;
            color: white;
            .opa {
                background: rgba(black,0.7);
                height: 100%;
                padding-bottom: 20px;
            }
            .not_volunteer1 {
                margin: 0;
                padding: 30px 0 10px 0;
                font-size: 1.8rem;
                span {
                    display: block;
                }
                
            }
            p {
                font-size: 1.4rem;
                font-weight: bold;
            }
            @include kk_s($color: white);
            .kk_s {
                font-size: 2.2rem;
            }
            @media(min-width: 550px) {
                @include kk($color: white, $top: 20px);
                .kk {
                    span {
                        display: inline-block;
                    }
                }
                p {
                    font-size: 2.2rem;
                }
                .not_volunteer1 {
                    padding-top: 60px;
                    span {
                        display: inline-block;
                    }
                }
            }
        }
        
    .message {
        h3 {
            text-align: center;
            margin: 0;
            padding: 30px 0;
            font-size: 1.8rem;
            @media(min-width: 550px) {
                padding: 50px 0;
            }
        }
        h4 {
            font-size: 1.4rem;
            text-align: center;
            margin: 0;
            padding-bottom: 20px;
            span {
                display: block;
            }
            @media(min-width: 550px) {
                font-size: 2.2rem;
                span {
                    display: inline-block;
                }
            }
        }
        .message_box {
            margin: 0 2%;
            img {
                width: 100%;
            }
            p {
                font-size: 1.3rem;
            }
            @media(min-width: 550px) {
                display: flex;
                justify-content: space-between;
                margin: 0 20%;
                padding: 20px 0 60px 0;
                img {
                    width: 25%;
                    height: 50%;
                }
                p {
                    width: 70%;
                    margin: 0;
                }
            }
        }
    }
    
    .form {
        background-color: orange;
        text-align: center;
        padding-bottom: 20px;
        h3 {
            font-size: 1.8rem;
            margin: 0;
            padding: 20px 0;
            i {
                margin-right: 5px;
            }
            @media(min-width: 550px) {
                padding-top: 30px;
            }
        }
        p {
            font-size: 1.4rem;
            font-weight: bold;
            padding: 0 0 10px 0;
            @media(min-width: 550px) {
                font-size: 1.8rem;
                padding: 0;
            }
        }
        form {
            input,textarea {
                display: block;
                margin: 15px auto;
                width: 95%;
                border-radius: 5px;
                border: solid 1px orange;
                padding: 15px 5px;
                @media(min-width: 550px) {
                    width: 60%;
                    padding: 20px 10px;
                    margin: 20px auto;
                }
            }
            textarea {
            height: 100px;
            margin-top: 30px;
            }
            .submit {
            margin-top: 30px;
            border-radius: 30px;
            font-size: 2.2rem;
            background-color: tomato;
            color: white;
            letter-spacing: 1.4rem;
            font-weight: bold;
            &:hover {
                cursor: pointer;
            }
            }
            @media(min-width: 550px) {
                textarea,.submit {
                    margin-top: 40px;
                }
            }
        }
        @media(min-width: 550px) {
            padding-bottom: 40px;
        }
    }
    
    .often_question {
        text-align: center;
        h3 {
            font-size: 1.8rem;
            margin: 0;
            padding: 20px 0;
            i {
                margin-right: 5px;
            }
            @media(min-width: 550px) {
                padding: 40px 0 30px 0;
            }
        }
        .question_box {
            padding-bottom: 20px;
            .question_btn {
                display: flex;
                justify-content: space-between;
                border: solid 2px whitesmoke;
                margin: 5px 0 0 0;
                img {
                    width: 10px;
                    height: 10px;
                    margin: 5.5% 2% 0 2%;
                }
                .dropdown_toggle {
                  -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
                }
                .under_line {
                    text-decoration: underline;
                }
                &:hover {
                    cursor: pointer;
                }
            }
            margin: 0 2%;
            h4 {
                font-size:  1.4rem;
                text-align: left;
                padding: 0px 0 0px 10px;
                i {
                    color: #1B7DB2;
                }
            }
            .answer {
                padding: 0;
                li {
                    list-style: none;
                    text-align: left;
                    padding: 10px 15px;
                    font-weight: bold;
                    font-size: 1.2rem;
                }
            }
            @media(min-width: 550px) {
                margin: 0 10%;
                h4 {
                    font-size: 2.2rem;
                }
                .answer {
                    li {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #ECECEC;
    text-align: center;
    position: absolute;
    width: 100%;
    p {
        padding: 20px 0 10px 0;
        font-size: 1.1rem;
        margin: 0;
    }
    ul {
        padding: 0;
        width: 183.75px;
        margin: 0 auto;
        li {
            float: left;
            list-style: none;
            margin-right: 5px;
            a {
                text-decoration: none;
                color: white;
                border-radius: 3px;
                padding: 2px 5px;
                i {
                    margin-right: 5px;
                }
            }
            @include a_hover($color: whitesmoke);
            .twitter {
                background-color: #6EBCEB;
            }
            .fb,.fb2 {
                background-color: #4267B2;
            }
        }
    }
    ul::after {
            clear: both;
            content: "";
            display: block;
    }
}
